.flex {
  .selects {
    .select {
      .selectTag {
        padding-left: 0.5rem;
        align-self: center;
      }

      .callFormField {
        width: 18rem;
        align-content: center;
      }
    }

    label {
      margin-right: 0.5rem;
    }
  }

  .matcher {
    align-items: center;
    display: flex;
    gap: 0.5rem;

    mat-slider {
      width: 33rem;
    }
  }
}

.content {
  display: flex;
  gap: 1.5rem;

  .card {
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
    flex-grow: 1;
    padding: 1.5rem;
    min-width: 40rem;

    h1 {
      background-color: #efeff1;
      border-bottom: 1px solid rgba(0, 0, 0, 0.12);
      display: flex;
      justify-content: space-between;
      margin: -1.5rem -1.5rem 1rem;
      padding: 0.5rem 1rem;

      span {
        font-weight: 300;
      }
    }

    .table-container {
      height: 35rem;
      max-width: 100%;
      overflow: auto;
    }

    .table {
      width: 100%;
    }

    .mat-header-cell {
      color: black;
      font-size: 16px;
    }

    .mat-row .mat-cell {
      cursor: pointer;
    }

    th.mat-header-cell:first-of-type,
    td.mat-cell:first-of-type,
    td.mat-footer-cell:first-of-type {
      padding-left: 0%;
      padding-right: 4rem;
    }

    th.mat-header-cell:last-of-type,
    td.mat-cell:last-of-type,
    td.mat-footer-cell:last-of-type {
      padding-left: 4rem;
    }

    mat-row,
    mat-footer-row,
    td.mat-cell,
    td.mat-footer-cell {
      border-bottom-color: #fff !important;
      border-bottom-width: 0.75rem !important;
      border-left-width: 3rem !important;
    }

    th.mat-header-cell,
    mat-header-row {
      border-bottom-color: rgba(0, 0, 0, 0.12) !important;
    }

    .highlightedColorStyle {
      background-color: rgba(90, 90, 113, 0.2);
    }

    .normalColorStyle {
      background-color: white;
    }

    .matchedColorStyle {
      background-color: rgba(90, 90, 113, 0.5);
    }
  }
}

.empty-state {
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10rem;
  }

  h2 {
    font-size: 24px;
    text-align: center;
  }

  p {
    font-size: 16px;
    text-align: center;
    line-height: 2rem;
  }
}
