<link
  href="https://fonts.googleapis.com/icon?family=Material+Icons"
  rel="stylesheet"
/>

<ng-template #subHeader>
  <div class="flex">
    <div class="selects">
      <div class="select">
        <mat-form-field appearance="fill" class="formField">
          <mat-icon matPrefix>account_circle</mat-icon>
          <mat-select
            class="selectTag"
            placeholder="Agent"
            (selectionChange)="selectAgent($event)"
            id="agent"
            name="agent"
          >
            <mat-option
              *ngFor="let agent of agents.agents$ | async"
              [value]="agent.id"
              >{{ agent.fullName }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="select">
        <mat-form-field appearance="fill" class="callFormField">
          <mat-icon matPrefix>call</mat-icon>
          <mat-select
            [(ngModel)]="resetCall"
            class="selectTag"
            placeholder="Call"
            (selectionChange)="selectCall($event)"
            id="call"
            name="call"
          >
            <mat-option
              *ngFor="let call of calls.activeAgentCalls$ | async"
              [value]="call.id"
              >{{ call?.startTime | date: "dd/MM/yyyy" }} -
              {{ call?.customer?.speakerName }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <div class="matcher" *ngIf="!calls.isLoading$.value">
      MATCHING SENSITIVITY
      <mat-slider
        [(ngModel)]="defaultSliderValue"
        #matcher
        aria-label="unit(s)"
        (change)="calls.setMatchingPercentage(matcher.value)"
        [value]="calls.matchingPercentage$ | async"
        defaultColor="black"
        defaultTabIndex="38"
        class="mat-slider"
      ></mat-slider>
      <p>{{ matcher.value }}%</p>
    </div>
  </div>
</ng-template>

<section *ngIf="!(calls.isLoading$ | async); else showThis">
  <div *ngIf="calls.activeTranscript$ | async as call" class="content">
    <div class="card">
      <h1>
        Real
        <span>Alignment to the expected script: 32%</span>
      </h1>
      <div class="table-container">
        <table mat-table [dataSource]="call.transcript" class="table">
          <ng-container matColumnDef="timeFrom">
            <th mat-header-cell *matHeaderCellDef>Time</th>
            <td mat-cell *matCellDef="let element">
              {{ formatTime(element.timeFrom) }}
            </td>
          </ng-container>
          <ng-container matColumnDef="channel">
            <th mat-header-cell *matHeaderCellDef>Channel</th>
            <td mat-cell *matCellDef="let element">
              {{ call.getSpeaker(element.channel) }}
            </td>
          </ng-container>
          <ng-container matColumnDef="sentence">
            <th mat-header-cell *matHeaderCellDef>Sentence</th>
            <td
              mat-cell
              *matCellDef="let element"
              matTooltipClass="toolTip"
              matTooltipPosition="above"
              [matTooltip]="toolTipData(element)"
              [ngClass]="highlightMatchedTranscriptLines(element.order)"
              [matTooltipDisabled]="toggleToolTip(element)"
              (mouseover)="matchSelectedScriptLine(element)"
              (mouseout)="highlightMatchingScript = false"
            >
              {{ element.sentence }}
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="realDisplayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: realDisplayedColumns"></tr>
        </table>
      </div>
    </div>

    <div class="card">
      <h1>
        Expected
        <span>Percent of script covered: 0%</span>
      </h1>
      <div class="table-container">
        <table mat-table [dataSource]="call.script" class="table">
          <ng-container matColumnDef="order">
            <th mat-header-cell *matHeaderCellDef>Line</th>
            <td mat-cell *matCellDef="let element">
              {{ element.order + 1 }}
            </td>
          </ng-container>
          <ng-container matColumnDef="rep">
            <th mat-header-cell *matHeaderCellDef>Speaker</th>
            <td mat-cell *matCellDef="let element">Rep:</td>
          </ng-container>
          <ng-container matColumnDef="sentence">
            <th mat-header-cell *matHeaderCellDef>Sentence</th>
            <td
              mat-cell
              *matCellDef="let element"
              [ngClass]="highlightMatchedScriptLines(element)"
            >
              {{ element.sentence }}
            </td>
          </ng-container>
          <tr
            mat-header-row
            *matHeaderRowDef="expectedCompositeDisplayedColumns"
          ></tr>
          <tr
            mat-row
            *matRowDef="let row; columns: expectedCompositeDisplayedColumns"
          ></tr>
        </table>
      </div>
    </div>
  </div>
</section>

<ng-template #showThis>
  <div class="empty-state">
    <img src="../../../../assets//img//no-selection.svg" />
    <h2>Selection pending</h2>
    <p>
      Select a call from top menu and a transcript <br />
      analysis will be shown here
    </p>
  </div>
</ng-template>
