.flex {
  display: flex;
  justify-content: space-between;

  .selects {
    display: flex;
    gap: 1.5rem;

    .select {
      .selectTag {
        padding-left: 0.5rem;
        align-self: center;
      }

      .callFormField {
        width: 18rem;
        align-content: center;
      }
    }

    label {
      margin-right: 0.5rem;
    }
  }

  mat-slider {
    width: 600px;
  }
}

.content {
  display: flex;
  gap: 1.5rem;

  .card {
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
    flex-grow: 1;
    max-width: calc(50% - 1.5rem);
    padding: 1.5rem;

    h1 {
      background-color: #efeff1;
      border-bottom: 1px solid rgba(0, 0, 0, 0.12);
      display: flex;
      justify-content: space-between;
      margin: -1.5rem -1.5rem 1rem;
      padding: 0.5rem 1rem;

      span {
        font-weight: 300;
      }
    }
  }
}

.empty-state {
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10rem;
  }

  h2 {
    font-size: 24px;
    text-align: center;
  }

  p {
    font-size: 16px;
    text-align: center;
    line-height: 2rem;
  }
}
